<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Product Manager</title>

  <!-- <link rel="stylesheet" href="style.css" /> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='main.js') }}" defer></script>


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <div class="container">
    <h1>Product Manager</h1>
    <form id="product-form">
      <input type="hidden" id="product-id" />
      <input type="text" id="name" placeholder="Product Name" required title="Product Name"/>
      <input type="number" step="0.01" id="price" placeholder="Price" required  title="Product Price"/>
      <input type="text" id="image" placeholder="Image URL" required  title="Product Image URL"/>
      <button type="submit"><span class="underlined">Add</span> / <span class="underlined">Update</span> Product</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="product-table"></tbody>
    </table>

    <div id="product-details" class="card"></div>
    <br>
    <a href="/other/home">Go to the static website</a>
  </div>

  <!-- <script src="main.js"></script> -->
</body>
</html>
